body {
  background-color: cornflowerblue;
}

.container {
  display: grid;
  background-color: #fff0d3;
  display: inline-grid;
  padding: 20px;
  border-radius: 2%;
  gap: 5px;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
}

.screen {
  grid-column-start: 1;
  border: 1px solid black;

  grid-column-end: 5;
  background-color: transparent;
  border-radius: 8px;
}

.settings {
  grid-column-start: 1;
  grid-column-end: 5;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.container div {
  font-size: 30px;
  text-align: center;
}

.Operationbutton {
  border: 1px solid black;

  color: white;
  border-radius: 15%;
  background-color: #ecb155;

  cursor: pointer;
}

.Operationbutton:hover {
  background-color: #eba941;
  border-radius: 15%;
}

.numberButton {
  background-color: #553c26;
  color: white;
  border: 1px solid black;

  border-radius: 15%;
  cursor: pointer;
}

.numberButton:hover {
  background-color: #a16c3e;
}

.navbar {
  display: flex;
  grid-template-rows: 80px 10px;
  background-color: transparent;
  border-radius: 8px;
}

/*!########################################## from w3 Schools */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
